h1 {
  color: rgb(12, 145, 78);
}

li {
  color: rgb(12, 145, 78);
  font-size:      25px;
  font-weight:    bold;
}



.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#nav_bar ul li a.active-page
{
  background-color:rgb(106, 221, 163);
}